<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Project 2</title>

    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="css/styles.css" media="screen">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/dumbbell.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  </head>

  <body>
    <!-- Start of navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-inverse">
        <a class="navbar-brand" href= "index.html">The Leftovers</a>
                <a class="nav-item nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="Map.html">Geomap</a>
                <a class="nav-item nav-link" href="Charts.html">Charts</a>
                <a class="nav-item nav-link" href="dumbell.html">Dumbbell</a>
            </div>
        </div>
</nav>

<div class="hero4">
<!-- Start of container -->
<div class="container">
  <section class="row">
    <div class="col-md-12">
      <h2 class="comparison-header font-size=large">Dumbell</h2>
    </div>
    <div class="col-md-12">

      <div id="plot1">
      <hr class="visible-xs visible-sm">
    </div>

    <script src="../static/js/dumbell_logic.js"></script>
  </section>
</div>
</div>

<footer class="footer">
  <span class="bottom">USA Population</span>
  <div class="footer">&copy; Copyright Michael Becker, Meagan Colley, Xinliang Huang 2020

  </div>
</footer>
</body>
</html>