<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Project 2</title>

    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="css/styles.css" media="screen">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  </head>

  <body>
    <div class="hero">
    <!-- Start of navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-inverse">
      <a class="navbar-brand" href= "index.html">The Leftovers</a>
      
      <a class="nav-item nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="Map.html">Geomap</a>
      <a class="nav-item nav-link" href="Charts.html">Charts</a>
      <a class="nav-item nav-link" href="dumbell.html">Dumbbell</a>
    </nav>
  </div>
<!-- Start of container -->
<div class="hero2">
<div class="container">
  <section class="row">
    <div class="col-md-6">
      <article class="description-content">
        <h1 class="description-header">Population</h1>
        <hr class="description-hr"/>
        <!-- <img src="assets/images/Fig1.png" alt="" id="description-image"/> -->
        <h3>Population is the part of the prison or penitentiary where the majority of the prisoners are held. As opposed to solitary confinement or the psych ward.
          I can't wait to get back into population. I shouldn't have shanked that guard!.<br>
         <a href="https://www.urbandictionary.com/define.php?term=Population">From Urbandictionary</a>
         <br>
         <br>
         In biology a population is all the organisms of the same group or species, which live in a particular geographical area.
          The area of a sexual population is the area where inter-breeding is potentially possible between any pair within the area, and where the probability of interbreeding is greater 
          than the probability of cross-breeding with individuals from other areas.

          In sociology, population refers to a collection of humans and their entire race. Demography is a social science which entails the statistical study of populations. 
          Population, in a more simple term, is the number of people in a city or town, region, country or world; population is usually determined by a process called census 
          (a process of collecting, analyzing, compiling and publishing data).<br>
          <a href="https://en.wikipedia.org/wiki/Population">From wikipedia</a>
        </h3>
      
        </article>
    </div>
    <div class="col-md-4">
    <img src="https://taxab.org/uploded_poster/362381.jpg">
  </div>
</section>
</div>
</div>
<footer class="footer">
  <span class="bottom">USA Population</span>
  <div class="footer">&copy; Copyright Michael Becker, Meagan Colley, Xinliang Huang 2020

  </div>
</footer>
</body>
</html>